extends layout

block content
  h1= title
  p Welcome to #{title}

  button#btnSearch Search

  pre#displaySearch

  hr
  pre#displayFeetInMile
  button#btnGetFeetInMile Get feet in one mile



  hr

  pre Enter how many miles you want to convert to feet or the radius of a circle:

  input(type="text", name="title")#inputCalculate
  br
  br
  pre#displayCalculateResult
  button#btnCalculateXFeetInXMiles Calculate feet
  button#btnCalculateCircle Calculate circle circumference

  hr