[Unit]
Description=Run AddressMaven
After=network.target

[Service]
ExecStart=/user/bin/node/ ~/bin/am/npm start
WorkingDirectory=/home/ubuntu/bin/am
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=am
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=PORT=30028

[Install]
WantedBy=multi-user.target
