[Unit]
Description=Run AddressMaven
After=network.target

[Service]
ExecStart=npm start
WorkingDirectory=/home/ubuntu/bin/am
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=am
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=AM_PORT=30028

[Install]
WantedBy=multi-user.target
